@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',
  sans-serif; 
  font-size: 20px;
  /* background-color:rgb(212, 171, 184); */
  background-color: white;
  text-align: center;
  line-height: 1.5;
  opacity: 1;
  margin: 0;
  padding: 0; 
}

nav,
footer {
  padding: 15px 0;
  background-color: #22313F;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: inline-block;
}
nav > ul {
  margin-right: 20px;
}
nav > ul > li {
  padding-left: 25px;
  font-size: 15px;
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

#project {
  text-decoration: none;
  color: #008080;
  display: flex;
  overflow: hidden;
  background-color: lightgray;
  /* border: 2px solid lightblue; */
  /* height: 220px;
  width: 250px; */
  padding: 20px;
  margin-bottom: 40px;
}
.project-pic {
  width: 250px;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  font-weight: bold;
  padding-bottom: 25px;
}
.work {
  padding-top: -10px;
  margin-top: -60px;
}
.description {
  border:thin Black;
  border-style : none;
}
.stack {
  border:thin Black;
  border-style : none;
}
.repo-link {
  border:thin Black;
  border-style : none;
  text-decoration: underline;
}
nav a,
nav a:hover,
nav a:visited {
  color: white;
  text-decoration: none;
}

header {
  padding: 40px 0;
}

h1 {
  font-size: 55px;
}

img {
  width: 200px;
  height: 200px;
}
.profile-photo {
  border-radius: 50%;
  height: 250px;
  width: 225px;
}
section {
  min-height: 200px;
  padding: 60px 60px;
  background-color:white;
}
#about-me {
  box-sizing: border-box;
}

.project-photos {
  width: 150px;
  height: 150px;
}

.repo-link{
  padding-bottom: 50px;
}
section:nth-child(even) {
  background-color: #ddd;
}
.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid;
  border-radius: 100%;
  width: 200px;
  height: 100px;
  line-height: 100px;
  background: white;
  color: black;
  text-decoration: none;
}
.contact-details:hover {
  /* background-color: grey; */
  background-color: #D3D3D3;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 40px;
}
footer a {
  color: white;
}
.work-info {
  text-align: left;
}

@media only screen and (min-width: 600px)  {
  nav > ul {
    float: right;
    width: 350px;
  }
  #project {
    flex-direction: row;
  }
}